html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}

h1 {
  font-size: 70px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #82ACFF;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #0041BD;
  padding: 0 20px 20px 20px;
  border: 8px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #AB0000;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
